header {
  height: 50px;
  width: 100%;
  background-color: var(--brand-color);
  position: fixed;
  top: 0;
  z-index: 1;
}

h1 {
  color: var(--light-color);
  text-align: center;
  padding: 5px 0;
  text-shadow: 3px 3px 1px var(--dark-color);
}
