@import url(../bookmark/bookmark.css);
@import url(../answer/answer.css);

.card {
  margin: 20px;
  padding: 10px;
  border: 5px solid var(--dark-accent);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card_headline {
  align-self: flex-start;
  margin: 0 0 10px 0;
}
