.profile__section {
  padding: 0 20px;
}

.profile__pic-name {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  margin-bottom: 20px;
}

.profile__pic {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 3px;
  border: 5px solid var(--brand-color);
}

.profile__name {
  justify-self: center;
  color: var(--brand-color);
  font-size: 3.5rem;
}
