nav {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.nav_list {
  height: 50px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav_list__item {
  height: 100%;
  width: 100%;
}

.nav_list__item__button {
  height: 100%;
  width: 100%;
  border: 2px solid var(--dark-color);
  background-color: var(--brand-color);
}

.nav_list__item__button--current {
  background-color: var(--dark-color);
}

.nav-icon {
  height: 28px;
  width: 28px;
  fill: var(--light-color);
}
.nav-icon--current {
  fill: var(--light-accent);
}
